name: Stoponpull

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  echo1:
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder
        run: |
          echo "Will add code checks here in next challenge"
