name: Stoponpull

on:
  push:
    branches:
      - main
jobs:
  placeholder_job: Job1
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder
        run: |
          echo "Will add code checks here in next challenge"
